In [1]:
#python program to display all header tags from wikipedia
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# python program to display IMDB's top rated 100 movies

In [10]:
# Function Definition
def IMDB_top_100(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    year=[]
    rating=[]
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={"secondaryInfo"})):
        year.append(i.text)
    for i in soup.find_all('strong'):
        rating.append(float(i.text))
    df=pd.DataFrame({'names':name[:100],
                     'years':year[:100],
                     'ratings':rating[:100]})
    print(df)
    df.to_csv('IMDB_top_100.csv', index = False)

# Calling Function
IMDB_top_100("https://www.imdb.com/chart/top/")

                                    names   years  ratings
0                The Shawshank Redemption  (1994)      9.2
1                           The Godfather  (1972)      9.1
2                  The Godfather: Part II  (1974)      9.0
3                         The Dark Knight  (2008)      9.0
4                            12 Angry Men  (1957)      8.9
..                                    ...     ...      ...
95                                 Jagten  (2012)      8.3
96                           Idi i smotri  (1985)      8.3
97                    Singin' in the Rain  (1952)      8.3
98                     North by Northwest  (1959)      8.3
99  Eternal Sunshine of the Spotless Mind  (2004)      8.3

[100 rows x 3 columns]

# python program to display top rated IMDB's indian movies

In [9]:
def Indian_IMDB_top_100(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    year=[]
    rating=[]
    for i in soup.find_all('img'):
        name.append(i.attrs['alt'])
    for i in list(soup.find_all('span',attrs={"secondaryInfo"})):
        year.append(i.text)
    for i in soup.find_all('strong'):
        rating.append(float(i.text))
    df=pd.DataFrame({'names':name[:100],
                     'years':year[:100],
                     'ratings':rating[:100]})
    print(df)
    df.to_csv('indian_IMDB_top_100.csv', index = False)

# Calling Function
Indian_IMDB_top_100("https://www.imdb.com/india/top-rated-indian-movies/")

                       names   years  ratings
0            Pather Panchali  (1955)      8.5
1                    Nayakan  (1987)      8.5
2          Pariyerum Perumal  (2018)      8.5
3                 Anbe Sivam  (2003)      8.5
4                    Golmaal  (1979)      8.5
..                       ...     ...      ...
95           Andaz Apna Apna  (1994)      8.1
96                 Virumandi  (2004)      8.1
97  Uri: The Surgical Strike  (2018)      8.1
98                        PK  (2014)      8.1
99                     Lucia  (2013)      8.1

[100 rows x 3 columns]

#python program to scrap bookname, author name,genreand book review

In [8]:
import pandas as pd

# Function Definition
def bookpage():
    response = requests.get('https://bookpage.com/reviews/')
    soup = BeautifulSoup(response.content, 'html.parser')
    url_tags = soup.find_all('div', attrs = {'class': 'row-fluid article-row'})
    urls = [i.find('h4').find_all('a')[0]['href'] for i in url_tags[0:5]]
    book_dict = {}
    book_dict["Book Name"] = []
    book_dict["Author"] = []
    book_dict["Genre"] = []
    book_dict["Review"] = []
    for url in urls:
        book = requests.get('https://www.bookpage.com'+url)
        soup = BeautifulSoup(book.content, 'html.parser')
        book_dict["Book Name"].append(soup.find('h1').text.replace('\n',''))
        book_dict["Author"].append(soup.find('h4').text.replace('\n',''))
        book_dict["Genre"].append(soup.find('p', attrs = {'class':'genre-links'}).text.replace('\n',''))
        book_dict["Review"].append(soup.find('div', attrs = {'class':'article-body'}).text.replace('\n',''))
    book_df = pd.DataFrame.from_dict(book_dict)
    book_df.to_csv('Book Reviews.csv', index = False)
    return book_df

# Calling Function
bookpage()

,Book Name,Author,Genre,Review
0,★ The Sweetness of Water,Nathan Harris,Fiction / Historical Fiction,"Nathan Harris’ Civil War-set debut novel, The ..."
1,The Killing Hills,Chris Offutt,Fiction / Crime Fiction,While Old Man Tucker is out collecting ginseng...
2,★ The Outlier,Kai Bird,Nonfiction / Biography / American History,While Jimmy Carter’s post-presidential years h...
3,★ Ahmed Aziz’s Epic Year,Nina Hamza,Children's / Middle Grade,Nina Hamza sets an incredibly high bar by plac...
4,★ Cultish,Amanda Montell,Nonfiction / Social Science / Linguistics,It may not seem like CrossFit (a popular high-...

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

In [11]:
# Function Definition
def Top_10_ODI_team(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    team=[]
    match=[]
    rating=[]
    for i in soup.find_all('span',attrs={'u-hide-phablet'}):
        team.append(i.text)
    match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
    rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
    count=0
    for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
        if count%2==0:
            match.append(i.text)
        else:
            rating.append(i.text)
        count+=1
    df=pd.DataFrame({'Team':team[:10],
                     'Match':match,
                     'Points':rating})
    df.to_csv('top_10_odi_teams_men.csv', index = False)
    print(df)

# Calling Function
Top_10_ODI_team('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

           Team Match Points
0   New Zealand    17  2,054
1     Australia    25  2,945
2         India    29  3,344
3       England    27  3,100
4  South Africa    20  2,137
5      Pakistan    24  2,323
6    Bangladesh    27  2,438
7   West Indies    27  2,222
8     Sri Lanka    24  1,876
9   Afghanistan    17  1,054

In [14]:
# Function Definition
def Top_10_ODI_batsman(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_odi_batsman.csv', index = False)
    print(df)
    
# Calling Function
Top_10_ODI_batsman("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

                  Name       Team points
0           Babar Azam  \n\nPAK\n    865
1          Virat Kohli        IND    857
2         Rohit Sharma        IND    825
3          Ross Taylor         NZ    801
4          Aaron Finch        AUS    791
5       Jonny Bairstow        ENG    785
6         Fakhar Zaman        PAK    778
7  Francois du Plessis         SA    778
8         David Warner        AUS    773
9            Shai Hope         WI    773

In [15]:
def Top_10_ODI_bowler(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_odi_bowler.csv', index = False)
    print(df)

 # Calling Function
Top_10_ODI_batsman("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

                Name      Team points
0        Trent Boult  \n\nNZ\n    737
1       Mehedi Hasan       BAN    713
2   Mujeeb Ur Rahman       AFG    708
3         Matt Henry        NZ    691
4     Jasprit Bumrah       IND    690
5      Kagiso Rabada        SA    666
6       Chris Woakes       ENG    665
7     Josh Hazlewood       AUS    660
8        Pat Cummins       AUS    646
9  Mustafizur Rahman       BAN    645

Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [16]:
# Function Definition
def Top_10_Women_ODI_team(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    team=[]
    match=[]
    rating=[]
    for i in soup.find_all('span',attrs={'u-hide-phablet'}):
        team.append(i.text)
    match.append(soup.find('td',attrs={'rankings-block__banner--matches'}).text)
    rating.append(soup.find('td',attrs={'rankings-block__banner--points'}).text)
    count=0
    for i in list(soup.find_all('td',attrs={'table-body__cell u-center-text'}))[:18]:
        if count%2==0:
            match.append(i.text)
        else:
            rating.append(i.text)
        count+=1
    df=pd.DataFrame({'Team':team[:10],
                     'Match':match,
                     'Points':rating})
    df.to_csv('top_10_women_odi_teams.csv', index = False)
    print(df)

# Calling Function
Top_10_Women_ODI_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

           Team Match Points
0     Australia    18  2,955
1  South Africa    24  2,828
2       England    17  1,993
3         India    20  2,226
4   New Zealand    21  1,947
5   West Indies    12  1,025
6      Pakistan    15  1,101
7    Bangladesh     5    306
8     Sri Lanka    11    519
9       Ireland     2     25

In [17]:
# Function Definition
def Top_10_Women_ODI_player(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_women_odi_player.csv', index = False)
    print(df)

# Calling Function
Top_10_Women_ODI_player("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

                Name       Team points
0     Tammy Beaumont  \n\nENG\n    765
1        Lizelle Lee         SA    758
2       Alyssa Healy        AUS    756
3    Stafanie Taylor         WI    746
4        Meg Lanning        AUS    723
5  Amy Satterthwaite         NZ    715
6    Smriti Mandhana        IND    710
7        Mithali Raj        IND    709
8     Natalie Sciver        ENG    685
9    Laura Wolvaardt         SA    683

In [18]:
#Function Definition
def Top_10_Women_ODI_Allrounder(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    name=[]
    team=[]
    point=[]
    name.append(soup.find('div',attrs={"rankings-block__banner--name-large"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rankings-table__name name'}))[:9]:
        name.append(i.text.replace('\n',''))
    team.append(soup.find('div',attrs={"rankings-block__banner--nationality"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell nationality-logo rankings-table__team'}))[:9]:
        team.append(i.text.replace('\n',''))
    point.append(soup.find('div',attrs={"rankings-block__banner--rating"}).text)
    for i in list(soup.find_all('td',attrs={'table-body__cell rating'}))[:9]:
        point.append(i.text)
    df=pd.DataFrame({'Name': name,
                     'Team':team,
                     'points':point})
    df.to_csv('top_10_women_odi_allrounder.csv', index = False)
    print(df)

# Calling function
Top_10_Women_ODI_Allrounder("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

               Name      Team points
0    Marizanne Kapp  \n\nSA\n    418
1      Ellyse Perry       AUS    418
2   Stafanie Taylor        WI    410
3    Natalie Sciver       ENG    349
4     Deepti Sharma       IND    343
5     Jess Jonassen       AUS    307
6  Ashleigh Gardner       AUS    252
7  Dane van Niekerk        SA    243
8     Sophie Devine        NZ    242
9       Amelia Kerr        NZ    236

# Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description

In [32]:
# Function Definition
def weather(url):
    r=requests.get(url)
    soup=BeautifulSoup(r.content,'html.parser')
    period=[]
    short_desc=[]
    temp=[]
    desc=[]
    for i in soup.find_all('p',attrs={'period-name'}):
        period.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        short_desc.append(i.text)
    for i in soup.find_all('p',attrs={'short-desc'}):
        if i.next_sibling is not None:
            temp.append(i.next_sibling.text)
        else:
            temp.append(' ')
    for i in soup.find_all('div',attrs={"col-sm-10 forecast-text"}):
        desc.append(i.text)
    df=pd.DataFrame({"period":period,
                     "short_description":short_desc,
                     "temperature":temp,
                     "description":desc[:9]})
    df.to_csv('Extended_forecast.csv')
    print(df)

# Calling Function
weather("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X6Pyxe3hWMo")

          period                        short_description  temperature  \
0  ThisAfternoon                             Partly Sunny  High: 85 °F
1        Tonight                            Partly Cloudy   Low: 59 °F
2       Thursday         Mostly Sunnythen Sunnyand Breezy  High: 83 °F
3  ThursdayNight                             Mostly Clear   Low: 57 °F
4         Friday                Sunny thenSunny andBreezy  High: 76 °F
5    FridayNight                             Mostly Clear   Low: 56 °F
6       Saturday                Sunny thenSunny andBreezy  High: 73 °F
7  SaturdayNight  Mostly Clearand Breezythen PartlyCloudy   Low: 56 °F
8         Sunday                                    Sunny  High: 71 °F

                                         description
0  Partly sunny, with a high near 85. West wind 1...
1  Partly cloudy, with a low around 59. West sout...
2  Sunny, with a high near 83. Breezy, with a lig...
3  Mostly clear, with a low around 57. West south...
4  Sunny, with a high near 76. Breezy, with a wes...
5                Mostly clear, with a low around 56.
6               Sunny, with a high near 73. Breezy.
7       Mostly clear, with a low around 56. Breezy.
8                        Sunny, with a high near 71.

# Write a python program to scrape fresher job listings It should include job title, company name, CTC, and apply date.

In [4]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

In [5]:
df = pd.DataFrame(columns=['Title','Company','Ratings','Reviews','Experience','Salary','Location','Job_Post_History','URL'])

In [7]:
for param in range(1,11):
    url = "https://www.naukri.com/financial-analyst-jobs-in-mumbai-param?k=financial%20analyst&l=mumbai"

    driver = webdriver.Chrome(r"C:\Users\SYS1\Downloads\chromedriver_win32\chromedriver.exe")
    driver.get(url)

    time.sleep(10)

    soup = BeautifulSoup(driver.page_source,'html5lib')

    # print(soup.prettify())

    driver.close()

    results = soup.find(class_='list')
    job_elems = results.find_all('article',class_='jobTuple bgWhite br4 mb-8')

    for job_elem in job_elems:

        # URL to apply for the job     
        URL = job_elem.find('a',class_='title fw500 ellipsis').get('href')
    #     print(URL.strip())

        # Post Title
        Title = job_elem.find('a',class_='title fw500 ellipsis')

        # Company Name
        Company = job_elem.find('a',class_='subTitle ellipsis fleft')

        # Ratings
        rating_span = job_elem.find('span',class_='starRating fleft dot')
        if rating_span is None:
            continue
        else:
            Ratings = rating_span.text

        # Reviews Counts
        Review_span = job_elem.find('a',class_='reviewsCount ml-5 fleft blue-text')
        if Review_span is None:
            continue
        else:
            Reviews = Review_span.text

        # Years of experience Required
        Exp = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi experience')
        Exp_span = Exp.find('span',class_='ellipsis fleft fs12 lh16')
        if Exp_span is None:
            continue
        else:
            Experience = Exp_span.text

        # Salary offered for the job
        Sal = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi salary')
        Sal_span = Sal.find('span',class_='ellipsis fleft fs12 lh16')
        if Sal_span is None:
            continue
        else:
            Salary = Sal_span.text

        # Location for the job post
        Loc = job_elem.find('li',class_='fleft grey-text br2 placeHolderLi location')
        Loc_exp = Loc.find('span',class_='ellipsis fleft fs12 lh16')
        if Loc_exp is None:
            continue
        else:
            Location = Loc_exp.text

        # Number of days since job posted
        Hist = job_elem.find("div",["type br2 fleft grey","type br2 fleft green"])
        Post_Hist = Hist.find('span',class_='fleft fw500')
        if Post_Hist is None:
            continue
        else:
            Post_History = Post_Hist.text

    #   Appending data to the DataFrame 
        df=df.append({'URL':URL,'Title':Title.text,'Company':Company.text,'Ratings':Ratings,'Reviews':Reviews,'Experience':Experience,'Salary':Salary,'Location':Location,'Job_Post_History':Post_History},ignore_index = True)

In [8]:
df.shape

(206, 9)

In [9]:
df.head()

,Title,Company,Ratings,Reviews,Experience,Salary,Location,Job_Post_History,URL
0,Financial Analyst/Senior Financial Analyst wit...,TriCore Solutions Private Limited,3.3,(22 Reviews),2-7 Yrs,"8,00,000 - 18,00,000 PA.","Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",3 Days Ago,https://www.naukri.com/job-listings-financial-...
1,Financial Analyst,Choksey Chemicals Pvt. Ltd.,3.1,(29 Reviews),0-3 Yrs,"3,00,000 - 5,00,000 PA.",Mumbai (All Areas),1 Day Ago,https://www.naukri.com/job-listings-financial-...
2,Sr Financial Analyst / Forecasting & Budgeting...,Capita India Pvt. Ltd,3.7,(1200 Reviews),2-4 Yrs,Not disclosed,Mumbai(Vikhroli),2 Days Ago,https://www.naukri.com/job-listings-sr-financi...
3,Manager / Senior Manager - Financial Analyst,WRITER BUSINESS SERVICES PVT LTD,4.0,(52 Reviews),5-10 Yrs,"10,00,000 - 15,00,000 PA.",Mumbai,2 Days Ago,https://www.naukri.com/job-listings-manager-se...
4,Senior Analyst / Lead - Finance & Accounts\n,Corient Business Solutions Private Limited,3.5,(25 Reviews),4-6 Yrs,"3,50,000 - 5,00,000 PA.","Indore, Jaipur, Mumbai (All Areas)",2 Days Ago,https://www.naukri.com/job-listings-senior-ana...

#Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price

In [11]:
from bs4 import BeautifulSoup
import requests
r = requests.get("http://www.pythonhow.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/", headers={'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'})
c=r.content

#using BeautifulSoup library
soup=BeautifulSoup(c,"html.parser")
#print(soup.prettify())

#to store all the data in all
#all=soup.find_all("div",{"class":"propertyRow"})

#to scrap data from data store in all
#all[0].find("h4",{"class":"propPrice"}).text.replace("\n","").replace(" ","")

page_no=soup.find_all("a",{"class":"Page"})[-1].text
print(page_no)

3

In [12]:
l=[]
base_url="http://www.pythonhow.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/t=0&s="
for page in range(0,int(page_no)*10,10):
    print(base_url+str(page)+".html")
    r= requests.get(base_url+str(page)+".html", headers={'User-agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0'})
    c = r.content
    soup=BeautifulSoup(c,"html.parser")
    #print(soup.prettify())
    #to store all the data in all
    all=soup.find_all("div",{"class":"propertyRow"})
    for item in all:
        d={}
        d["Address"]=item.find_all("span",{"class","propAddressCollapse"})[0].text
        
        try:
            d["Locality"]=item.find_all("span",{"class","propAddressCollapse"})[1].text
        except:
            d["Locality"]=None
        
        d["Price"]=item.find("h4",{"class","propPrice"}).text.replace("\n","").replace(" ","")

        #print(" ")
        try:
            d["Beds"]=item.find("span",{"class","infoBed"}).find("b").text
        except:
            d["Beds"]=None
        try:
            d["Area"]=item.find("span",{"class","infoSqFt"}).find("b").text
        except:
            d["Area"]=None
        try:
            d["Full Baths"]=item.find("span",{"class","infoValueFullBath"}).find("b").text
        except:
            d["Full Baths"]=None
        try:
            d["Half Baths"]=item.find("span",{"class","infoValueHalfBath"}).find("b").text
        except:
            d["Half Baths"]=None
        for column_group in item.find_all("div",{"class":"columnGroup"}): 
            #print(column_group)
            #zip is python inbuilt function used to iterate two list at same time
            for feature_group, feature_name in zip(column_group.find_all("span",{"class":"featureGroup"}),column_group.find_all("span",{"class":"featureName"})):
                #print(feature_group.text, feature_name.text)
                if "Lot Size" in feature_group.text:
                    d["Lot Size"]=feature_name.text
        l.append(d)

http://www.pythonhow.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/t=0&s=0.html
http://www.pythonhow.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/t=0&s=10.html
http://www.pythonhow.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/t=0&s=20.html

In [13]:
l

[{'Address': '0 Gateway',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$725,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None},
 {'Address': '1003 Winchester Blvd.',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$452,900',
  'Beds': '4',
  'Area': None,
  'Full Baths': '4',
  'Half Baths': None,
  'Lot Size': '0.21 Acres'},
 {'Address': '600 Talladega',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$396,900',
  'Beds': '5',
  'Area': '3,154',
  'Full Baths': '3',
  'Half Baths': None},
 {'Address': '3239 Spearhead Way',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$389,900',
  'Beds': '4',
  'Area': '3,076',
  'Full Baths': '3',
  'Half Baths': '1',
  'Lot Size': 'Under 1/2 Acre, '},
 {'Address': '522 Emerald Street',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$254,000',
  'Beds': '3',
  'Area': '1,172',
  'Full Baths': '3',
  'Half Baths': None,
  'Lot Size': 'Under 1/2 Acre, '},
 {'Address': "1302 Veteran's Drive",
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$252,900',
  'Beds': '4',
  'Area': '1,932',
  'Full Baths': '2',
  'Half Baths': None,
  'Lot Size': '0.27 Acres'},
 {'Address': '1021 Cypress Cir',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$210,000',
  'Beds': '4',
  'Area': '1,676',
  'Full Baths': '3',
  'Half Baths': None,
  'Lot Size': 'Under 1/2 Acre, '},
 {'Address': '913 Madison Dr',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$209,000',
  'Beds': '3',
  'Area': '1,344',
  'Full Baths': '2',
  'Half Baths': None,
  'Lot Size': 'Under 1/2 Acre, '},
 {'Address': '1344 Teton Street',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$199,900',
  'Beds': '3',
  'Area': '1,920',
  'Full Baths': '2',
  'Half Baths': None,
  'Lot Size': 'Under 1/2 Acre, '},
 {'Address': '4 Minnies Lane',
  'Locality': 'Rock Springs, WY 82901',
  'Price': '$196,900',
  'Beds': '3',
  'Area': '1,664',
  'Full Baths': '2',
  'Half Baths': None,
  'Lot Size': '2.02 Acres'},
 {'Address': '9339 Sd 26900',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$1,700,000',
  'Beds': None,
  'Area': '2,560',
  'Full Baths': None,
  'Half Baths': None},
 {'Address': 'RR674P13 Hwy 377',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$1,100,000',
  'Beds': None,
  'Area': '2,000',
  'Full Baths': None,
  'Half Baths': None},
 {'Address': '0 Hwy 41',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$1,080,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None},
 {'Address': '9339 Sd 26900',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$908,350',
  'Beds': None,
  'Area': '2,560',
  'Full Baths': None,
  'Half Baths': None},
 {'Address': 'CR450 Hwy 377',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$905,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None},
 {'Address': 'Cr 240 Cr 240',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$695,000',
  'Beds': None,
  'Area': '1,398',
  'Full Baths': None,
  'Half Baths': None},
 {'Address': 'RR674 Hwy 377',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$605,000',
  'Beds': None,
  'Area': '1,738',
  'Full Baths': None,
  'Half Baths': None},
 {'Address': '9770a Sd 26900',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$559,805',
  'Beds': None,
  'Area': '1,080',
  'Full Baths': None,
  'Half Baths': None},
 {'Address': 'Lot17 CR 2630',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$504,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None},
 {'Address': 'Tr12,16 CR 520',
  'Locality': 'Rocksprings, TX 78880',
  'Price': '$410,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None},
 {'Address': '32575 S Shadow Mountain Road',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$299,900',
  'Beds': '3',
  'Area': '2,318',
  'Full Baths': '2',
  'Half Baths': None},
 {'Address': '32750 S Shangrila Drive',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$167,500',
  'Beds': '3',
  'Area': '2,120',
  'Full Baths': '2',
  'Half Baths': None},
 {'Address': '0000 Black Canyon Highway',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$150,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None,
  'Lot Size': '5 Acres'},
 {'Address': '34775 S CHOLLA Drive',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$129,500',
  'Beds': '3',
  'Area': '1,220',
  'Full Baths': '2',
  'Half Baths': None},
 {'Address': '33403 S. HA-WA-SI TERRACE',
  'Locality': 'BLACK CANYON CITY, AZ 85324',
  'Price': '$129,000',
  'Beds': '4',
  'Area': '2,000',
  'Full Baths': '2',
  'Half Baths': None},
 {'Address': '34263 S Bertha Street',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$80,000',
  'Beds': '5',
  'Area': '2,260',
  'Full Baths': '2',
  'Half Baths': None},
 {'Address': '33160 S Canyon Road',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$77,900',
  'Beds': '3',
  'Area': '1,248',
  'Full Baths': '2',
  'Half Baths': None},
 {'Address': '19421 E Todd Evans Road',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$70,500',
  'Beds': '3',
  'Area': '1,404',
  'Full Baths': '2',
  'Half Baths': None},
 {'Address': '18688 E AGUA Vista',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$70,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None,
  'Lot Size': '0.7 Acres'},
 {'Address': '50600 N Old Black Canyon Road',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$67,500',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None,
  'Lot Size': '3 Acres'},
 {'Address': '20101 E SQUAW VALLEY Road',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$54,900',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None},
 {'Address': '33259 S Canyon Road',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$45,600',
  'Beds': '3',
  'Area': '1,056',
  'Full Baths': '1',
  'Half Baths': None},
 {'Address': '34558 S ROADRUNNER RD',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$40,000',
  'Beds': '2',
  'Area': '784',
  'Full Baths': '1',
  'Half Baths': None,
  'Lot Size': 'Under 1/2 Acre'},
 {'Address': '19260 E Scenic Loop Road',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$30,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None,
  'Lot Size': '2.35 Acres'},
 {'Address': '19000 E MAREN Avenue',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$29,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None,
  'Lot Size': '2.05 Acres'},
 {'Address': '19350 E SAGUARO Drive',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$28,995',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None,
  'Lot Size': '0.73 Acres'},
 {'Address': '20650 E Amethyst Place',
  'Locality': 'Black Canyon City, AZ 85324',
  'Price': '$15,000',
  'Beds': None,
  'Area': None,
  'Full Baths': None,
  'Half Baths': None,
  'Lot Size': '0.31 Acres'}]

In [14]:
import pandas
df=pandas.DataFrame(l)
df

,Address,Locality,Price,Beds,Area,Full Baths,Half Baths,Lot Size
0,0 Gateway,"Rock Springs, WY 82901","$725,000",None,None,None,None,NaN
1,1003 Winchester Blvd.,"Rock Springs, WY 82901","$452,900",4,None,4,None,0.21 Acres
2,600 Talladega,"Rock Springs, WY 82901","$396,900",5,"3,154",3,None,NaN
3,3239 Spearhead Way,"Rock Springs, WY 82901","$389,900",4,"3,076",3,1,"Under 1/2 Acre,"
4,522 Emerald Street,"Rock Springs, WY 82901","$254,000",3,"1,172",3,None,"Under 1/2 Acre,"
5,1302 Veteran's Drive,"Rock Springs, WY 82901","$252,900",4,"1,932",2,None,0.27 Acres
6,1021 Cypress Cir,"Rock Springs, WY 82901","$210,000",4,"1,676",3,None,"Under 1/2 Acre,"
7,913 Madison Dr,"Rock Springs, WY 82901","$209,000",3,"1,344",2,None,"Under 1/2 Acre,"
8,1344 Teton Street,"Rock Springs, WY 82901","$199,900",3,"1,920",2,None,"Under 1/2 Acre,"
9,4 Minnies Lane,"Rock Springs, WY 82901","$196,900",3,"1,664",2,None,2.02 Acres
10,9339 Sd 26900,"Rocksprings, TX 78880","$1,700,000",None,"2,560",None,None,NaN
11,RR674P13 Hwy 377,"Rocksprings, TX 78880","$1,100,000",None,"2,000",None,None,NaN
12,0 Hwy 41,"Rocksprings, TX 78880","$1,080,000",None,None,None,None,NaN
13,9339 Sd 26900,"Rocksprings, TX 78880","$908,350",None,"2,560",None,None,NaN
14,CR450 Hwy 377,"Rocksprings, TX 78880","$905,000",None,None,None,None,NaN
15,Cr 240 Cr 240,"Rocksprings, TX 78880","$695,000",None,"1,398",None,None,NaN
16,RR674 Hwy 377,"Rocksprings, TX 78880","$605,000",None,"1,738",None,None,NaN
17,9770a Sd 26900,"Rocksprings, TX 78880","$559,805",None,"1,080",None,None,NaN
18,Lot17 CR 2630,"Rocksprings, TX 78880","$504,000",None,None,None,None,NaN
19,"Tr12,16 CR 520","Rocksprings, TX 78880","$410,000",None,None,None,None,NaN
20,32575 S Shadow Mountain Road,"Black Canyon City, AZ 85324","$299,900",3,"2,318",2,None,NaN
21,32750 S Shangrila Drive,"Black Canyon City, AZ 85324","$167,500",3,"2,120",2,None,NaN
22,0000 Black Canyon Highway,"Black Canyon City, AZ 85324","$150,000",None,None,None,None,5 Acres
23,34775 S CHOLLA Drive,"Black Canyon City, AZ 85324","$129,500",3,"1,220",2,None,NaN
24,33403 S. HA-WA-SI TERRACE,"BLACK CANYON CITY, AZ 85324","$129,000",4,"2,000",2,None,NaN
25,34263 S Bertha Street,"Black Canyon City, AZ 85324","$80,000",5,"2,260",2,None,NaN
26,33160 S Canyon Road,"Black Canyon City, AZ 85324","$77,900",3,"1,248",2,None,NaN
27,19421 E Todd Evans Road,"Black Canyon City, AZ 85324","$70,500",3,"1,404",2,None,NaN
28,18688 E AGUA Vista,"Black Canyon City, AZ 85324","$70,000",None,None,None,None,0.7 Acres
29,50600 N Old Black Canyon Road,"Black Canyon City, AZ 85324","$67,500",None,None,None,None,3 Acres
30,20101 E SQUAW VALLEY Road,"Black Canyon City, AZ 85324","$54,900",None,None,None,None,NaN
31,33259 S Canyon Road,"Black Canyon City, AZ 85324","$45,600",3,"1,056",1,None,NaN
32,34558 S ROADRUNNER RD,"Black Canyon City, AZ 85324","$40,000",2,784,1,None,Under 1/2 Acre
33,19260 E Scenic Loop Road,"Black Canyon City, AZ 85324","$30,000",None,None,None,None,2.35 Acres
34,19000 E MAREN Avenue,"Black Canyon City, AZ 85324","$29,000",None,None,None,None,2.05 Acres
35,19350 E SAGUARO Drive,"Black Canyon City, AZ 85324","$28,995",None,None,None,None,0.73 Acres
36,20650 E Amethyst Place,"Black Canyon City, AZ 85324","$15,000",None,None,None,None,0.31 Acres